<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>course and architecture for CI 1</title>
    <style>
        body {
            background-image: linear-gradient(to right, #3d9869, #1c84c0);
            margin: 0;
            padding: 0;
        }

        #Course a {
            top: 50%;
            color: black;
            display: flex;
            justify-content: center;
            align-self: center;
            text-shadow: 1px 0px 20px #ffffffb5;
            font-size: 25px;
            text-decoration: none;
            position: relative;
            top: 25rem;
            left: 8rem;
            padding: 5px;
            background-color: skyblue;
            border-radius: 7px;



        }

        h1 {
            top: 50%;
            color: black;
            display: flex;
            justify-content: center;
            align-self: center;
            text-shadow: 1px 0px 20px #ffffffb5;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            position: relative;
            top: 3rem;
            left: 45rem;
            font-size: 100px;


        }

        h2 {
            font-size: 68px;
            position: relative;
            top: 16rem;
            left: 26rem;

        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 1px;
            padding: 0px;

            display: block;
            justify-content: center;



        }

        .resize {
            width: 400px;
            height: auto;
            display: flex;
            justify-content: center;
            position: relative;
            top: 12rem;
            left: -56rem;
            border: 5px solid purple;
            border-radius: 60px;





        }

        .container {

            font-size: 18px;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;

        }
    </style>

</head>

<body>
    <div class="container">
        <p>
        <h1>Welcome </h1>
        <h2>to</h2>
        </p>
        <h3 id="Course"><a href="http://127.0.0.1:5500/font/2.1%20course%20and%20architecture%20for%20CI%201.html"
                target="_self">Course Architecture for CI-1</a></h3>


        <div>
            <img class="resize" src="http://127.0.0.1:5500/img/courses.png" alt=" logo">
            <!-- <img class="resize" src="../Prosnal_Portfolio/arn.jpg" alt=" logo"> -->

        </div>
    </div>
</body>

</html>
