<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2.2 course and architecture for CI 1</title>
</head>
<link href='https://fonts.googleapis.com/css?family=Gugi' rel='stylesheet'>
<style>
    body {
       
        background-color:rgb(97, 151, 151);
       
    }

    .contenar {
        border: 2px black;
        border-radius: 25px;
        padding: 20px;
        width: 475px;
        height: 500px;
        background-image: linear-gradient(to right ,#3d9869,#1c84c0) ;
      
        box-sizing: border-box;
        text-align: center;
        position: relative;
        top: 105px;
        left: 510px;
        font-family: 'Gugi';
        box-shadow: inset -1px 0px 17px 5px #00048b8f;
    }



    .course {
        border: 2px gray;
        border-radius: 10px;
        padding: 20px;
        background-color: #97b99d;
        margin: 25px;
        width: 115px;
        float: left;
        text-align: center;
        box-shadow: inset 0px 0px 7px 2px #0a006480;
        font-size: 19px;
    }

    .course:hover {
        box-shadow: inset 0px 0px 7px 8px #0a006480;
    }



    .course a {
        text-decoration: none;
        color: #000000;

    }

    .course a:hover {
        color: rgb(60, 57, 111);


    }
</style>

<body>
    <div class="contenar">
        <h3 class="course"> <a
                href="http://127.0.0.1:5500/font/2.3%20time%20teble.html"> Time
                Table</a>
        </h3>
        <h3 class="course"><a
                href="http://127.0.0.1:5500/syallbus.pdf">Subjects</a>
        </h3>
        <h3 class="course"><a
                href="http://127.0.0.1:5500/notes/2.2%20subjects%20for%20notes.html">Notes</a>
        </h3>
        <h3 class="course"><a
                href="http://127.0.0.1:5500/Assignment/subjec%20for%20Assingment.html">Assignments</a>
        </h3>
        <h3 class="course"><a
                href="http://127.0.0.1:5500/PYQs/sub%20for%20PYQs.html">PYQs</a>
        </h3>
        <h3 class="course"><a
                href="http://127.0.0.1:5500/Feculty/extra%20feculty.html">Faculties</a>
        </h3>
        <h3 class="course"><a
                href="http://127.0.0.1:5500/MST%20Pepars/sub%20for%20MST.html">MST
                Papers</a>
        </h3>
        <h3 id="cc" class="course"><a href="http://127.0.0.1:5500/DEVELOPAR/2.5%20Developer.html">Developers</a></h3>
    </div>

</body>

</html>